.C{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/fundo_tela_login.png');
    background-size: cover;
    background-position: center;
}