.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
  }
  .navbar a{
    display: block;
    padding: 20px 0;
    color:black;
  }
  .navbar_links{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    gap: 60px;
  }

  .search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 40px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 100px;
  }
  
  .logo {
    width: 59px;
    cursor: pointer;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
  }
  .nav-links a::hover {
   color: black;
   text-decoration: underline;
   transition: 0.5s;
  }
  
  .nav-links button {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2px;
  }
  
  .search-box {
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #999999;
    padding: 10px 20px;
    border-radius: 50px;
    
  }
  
  .search-box input {
    padding: 6px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: .875rem;
    max-width: 200px;
  }

  .search-box input::placeholder{
    color: black;
  }
  
  .search-box::placeholder {
    color: #fff;
  }
  
  .search-box img {
    width: 20px;
    cursor: pointer;
  }