
.container_carrinho {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 10rem;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  min-height: 430px;
  margin-top: 32px !important;
  gap: 32px;
}
.carrinho_btn{
  display: flex;
  gap: 3rem;
  margin: 0;
}
.btn{
  width: 15rem;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #474747;
  
}
.flex_carrinho_img{
  width: 100px;
}
.flex_carrinho_img img {
  width: 100%;
}


.item p {
  margin: 0; 
}
.flex_carrinho{
  margin:0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  
}
.flex_carrinho_img{
  width: 100px;
}

.flex_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 10px;
}
.flex_btn > * {
  flex: 1;
}

.flex_carrinho > div {
  margin: 0; 

}