*{
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* .Login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('assets/fundo_tela_login.png');
    background-size: cover;
    background-position: center;
} */

.nav {
  display: flex;
  margin: 1em;
}

Link {
  margin: 1em;
}